@using webshop_owp.Data.Static
@model IEnumerable<webshop_owp.Models.Category>

@{
    ViewData["Title"] = "List of Categories";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table">
            <thead>
            <tr class="text-center">
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                {
                    <th>Actions</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle text-center">
                        @item.Id
                    </td>
                    <td class="align-middle">
                        @item.Name
                    </td>
                    <td class="align-middle">
                        @item.Description
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                    {
                        <td class="align-middle text-center">
                            <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Edit </a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Details </a> |
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete </a>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole(UserRoles.Admin))
{
    <div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
        <a asp-controller="Categories" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Add New
        </a>
    </div>
}
